* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	font-family: $base-font;
	text-align: center;
}

.dark {
	background-color: #262626;
	color: $primary-color;
}