.button {
	&--white {
		@include button-color ($primary-color, $primary-color)
	}

	&--black {
		@include button-color (#000, #000);
	}

	&:hover {
		border-color: #FFAC1C;
		color: #FFAC1C;
	}
}

@media screen and (max-width: 1024px) {
	.button {
		width: 248px;
		height: 48px;
		line-height: 43px;
		font-size: 0.85rem;
	}
}

@media screen and (max-width: 450px) {
	.button {
		width: 200px;
		height: 30px;
		line-height: 25px;
		font-size: 0.64rem;
	}
}