@mixin button-color ($btn-border, $btn-color) {
    width: 312px;
    height: 60px;
    display: block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    line-height: 55px;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 auto;
    transition: all .2s;
    border-color: $btn-border;
    color: $btn-color;
}

@mixin bg-section-padding {
    background-color: $bg-color;
    padding: 100px 0px;
}

@mixin font-size-article-1920 {
    font-size: 0.9rem;
    line-height: 23px;
}

@mixin font-size-article-1024 {
    font-size: 0.75rem;
    line-height: 19px;
}

@mixin font-size-article-768 {
    font-size: 1rem;
    line-height: 25px;
}

@mixin font-size-article-735 {
    font-size: 0.72rem;
    line-height: 15px;
}

@mixin font-size-article-600 {
    font-size: 0.64rem;
    line-height: 14px;
}

@mixin font-size-article-450 {
    font-size: 0.48rem;
    line-height: 12px;
}

@mixin before-styles($bg-color, $icon-content) {
    position: absolute;
    border-radius: 50%;
    color: #fff;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 0.7rem;
    top: -29px;
    left: -29px;
    background-color: $bg-color;
    content: $icon-content;
}