.paragraph {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 31px;
}

@media screen and (max-width: 1024px) {
    .paragraph {
        font-size: 1.1rem;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px) {
    .paragraph {
        font-size: 1rem;
        line-height: 25px;
    }
}

@media screen and (max-width: 600px) {
    .paragraph {
        font-size: 0.9rem;
        line-height: 23px;
    }
}

@media screen and (max-width: 450px) {
    .paragraph {
        font-size: 0.8rem;
        line-height: 21px;
    }
}