.projects-content {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .projects-content {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .projects-content {
        flex-direction: column;
    }
}