.projects {
    padding: 100px 0 50px;
    &__paragraph {
        margin: 30px 0 60px;
        color: $secondary-color;
    }
}

@media screen and (max-width: 1024px) {
    .projects {
        padding: 80px 0 40px;
        &__paragraph {
            margin: 30px 0 48px;
        }
    }
}

@media screen and (max-width: 768px) {
    .projects {
        padding: 70px 24px 35px 52px;
        &__paragraph {
            margin: 20px 0 58px;
        }
    }
}

@media screen and (max-width: 650px) {
    .projects {
        padding: 70px 24px 35px 35px;
    }
}