.projects-card {
    width: calc((100% - 48px * 2) / 3);
    position: relative;
    max-width: 360px;
    &__img {
        max-width: 360px;
        img {
            width: 100%;
        }
    }
    &__block {
        padding-top: 35px;
    }
    &__block-title {
        font-size: $text-size;
        line-height: 38px;
    }
    &__block-text {
        @include font-size-article-1920;
        color: $secondary-color;
        font-weight: 300;
        margin: 15px 0;
    }
    &__block-year {
        @include font-size-article-1920;
        font-weight: bold;
    }
    &:first-child::before {
        @include before-styles(#B3E151, "98%");
    }
    &:nth-child(2)::before {
        @include before-styles(#349EE5, "100%");
    }
    &:last-child::before {
        @include before-styles(#E5A434, "100%");
    }
    &:not(:last-child) {
        margin-right: 48px;
    }
}

@media screen and (max-width: 1250px) {
    .projects-card {
        max-width: 310px;
        &__block-text {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1150px) {
    .projects-card {
        max-width: 275px;
    }
}

@media screen and (max-width: 1024px) {
    .projects-card {
        width: calc((100% - 92px * 2) / 3);
        max-width: 252px;
        &__block {
            padding-top: 15px;
        }
        &__block-title {
            font-size: 1.25rem;
            line-height: 31px;
        }
        &__block-text {
            @include font-size-article-1024;
            margin: 15px 0 17px;
        }
        &__block-year {
            @include font-size-article-1024;
        }
        &::before {
            width: 46px;
            height: 46px;
            line-height: 46px;
            text-align: center;
            font-size: 0.6rem;
            top: -23px;
            left: -23px;
        }
        &:not(:last-child) {
            margin-right: 92px;
        }
    }
}

@media screen and (max-width: 990px) {
    .projects-card {
        width: calc((100% - 25px * 2) / 3);
        max-width: 215px;
        &__block-text {
            font-size: 0.8rem;
            line-height: 16px;
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .projects-card {
        display: flex;
        width: 100%;
        max-width: 720px;
        align-items: center;
        &__img {
            max-width: 320px;
            margin-right: 24px;
        }
        &__block {
            max-width: 348px;
            padding: 0;
        }
        &__block-text {
            @include font-size-article-768;
            margin: 20px 0;
            font-size: 1rem;
            font-weight: 300;
        }
        &__block-year {
            @include font-size-article-768;
        }
        &::before {
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            font-size: 0.7rem;
            top: -28px;
            left: -28px;
        }
        &:not(:last-child) {
            margin-right: 0;
        }
        &:not(:last-child) {
            margin-bottom: 58px;
        }
    }
}

@media screen and (max-width: 735px) {
    .projects-card {
        &__img {
            max-width: 270px;
        }
        &__block {
            max-width: 275px;
        }
        &__block-title {
            font-size: 1.3rem;
            line-height: 27px;
        }
        &__block-text {
            @include font-size-article-735;
            margin-bottom: 10px 0;
        }
        &__block-year {
            @include font-size-article-735;
        }
    }
}

@media screen and (max-width: 600px) {
    .projects-card {
        &__img {
            max-width: 200px;
            margin-right: 15px;
        }
        &__block {
            max-width: 220px;
        }
        &__block-title {
            font-size: 1.1rem;
            line-height: 24px;
        }
        &__block-text {
            @include font-size-article-600;
            margin: 7px 0;
        }
        &__block-year {
            @include font-size-article-600;
        }
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 450px) {
    .projects-card {
        &__img {
            max-width: 140px;
            margin-right: 10px;
        }
        &__block {
            max-width: 160px;
        }
        &__block-title {
            font-size: 0.9rem;
            line-height: 20px;
        }
        &__block-text {
            @include font-size-article-450;
            margin: 3px 0;
        }
        &__block-year {
            @include font-size-article-450;
        }
    }
}