.social-links {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    &__item {
        font-size: 1.2rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #262626;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 50%;
        transition: all .2s;
        &:last-child {
            color: #000;
        }
        &:hover {
            transform: scale(1.3);
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .social-links {
        margin-top: 47px;
        &__item {
            width: 45px;
            height: 45px;
            line-height: 45px;
            &:not(:last-child) {
                margin-right: 35px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .social-links {
        margin-top: 35px;
        &__item {
            width: 40px;
            height: 40px;
            line-height: 40px;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}