* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Source Serif Pro";
  text-align: center;
}

.dark {
  background-color: #262626;
  color: #fff;
}

header {
  background: rgba(0, 0, 0, 0.42);
  padding: 44px 359px 45px 372px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 44px 118px 45px 132px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 13px 31px 13px 42px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 8px 13px 8px 24px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 10px 0;
  }
}
.logo {
  font-size: 2rem;
  line-height: 63px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 1.5rem;
    line-height: 44px;
  }
}
.menu {
  font-size: 1.1rem;
  line-height: 28px;
  display: flex;
  align-items: center;
}
.menu__item {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item:not(:last-child)::after {
  content: " ";
  display: inline-block;
  width: 1.5px;
  height: 16px;
  background: #D8D5D5;
  margin: 0px 25px;
}

@media screen and (max-width: 1024px) {
  .menu {
    font-size: 0.9rem;
    line-height: 23px;
  }
  .menu__item:not(:last-child)::after {
    height: 13px;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    margin: 10px auto;
  }
  .menu__item {
    display: block;
  }
  .menu__item:not(:last-child)::after {
    display: block;
    margin: 5px auto;
  }
}
.paragraph {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 31px;
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 1.1rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 1rem;
    line-height: 25px;
  }
}
@media screen and (max-width: 600px) {
  .paragraph {
    font-size: 0.9rem;
    line-height: 23px;
  }
}
@media screen and (max-width: 450px) {
  .paragraph {
    font-size: 0.8rem;
    line-height: 21px;
  }
}
.button--white {
  width: 312px;
  height: 60px;
  display: block;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  line-height: 55px;
  border-radius: 30px;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.2s;
  border-color: #fff;
  color: #fff;
}
.button--black {
  width: 312px;
  height: 60px;
  display: block;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  line-height: 55px;
  border-radius: 30px;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.2s;
  border-color: #000;
  color: #000;
}
.button:hover {
  border-color: #FFAC1C;
  color: #FFAC1C;
}

@media screen and (max-width: 1024px) {
  .button {
    width: 248px;
    height: 48px;
    line-height: 43px;
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 450px) {
  .button {
    width: 200px;
    height: 30px;
    line-height: 25px;
    font-size: 0.64rem;
  }
}
.description {
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .description {
    font-size: 1.1rem;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .description {
    font-size: 1rem;
    line-height: 27px;
  }
}
@media screen and (max-width: 450px) {
  .description {
    font-size: 0.9rem;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 24px 0px;
}
.gallery__item {
  width: calc((100% - 48px) / 2);
  max-width: 924px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.gallery__item:nth-child(2n+2) {
  margin-right: 0;
}
.gallery__item:nth-child(1n+5) {
  margin-bottom: 0;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1915px) {
  .gallery__item {
    max-width: 750px;
  }
}
@media screen and (max-width: 1860px) {
  .gallery__item {
    max-width: 700px;
  }
}
@media screen and (max-width: 1473px) {
  .gallery__item {
    max-width: 680px;
  }
}
@media screen and (max-width: 1440px) {
  .gallery {
    padding: 50px 12px 0px;
  }
  .gallery__item {
    max-width: 696px;
  }
}
@media screen and (max-width: 1435px) {
  .gallery__item {
    max-width: 610px;
  }
}
@media screen and (max-width: 1300px) {
  .gallery__item {
    max-width: 590px;
  }
}
@media screen and (max-width: 1230px) {
  .gallery__item {
    max-width: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .gallery {
    padding: 50px 15px 0px;
  }
  .gallery__item {
    max-width: 492px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__item {
    max-width: 430px;
  }
}
@media screen and (max-width: 900px) {
  .gallery__item {
    max-width: 360px;
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    padding: 50px 24px 0px;
  }
  .gallery__item {
    max-width: 354px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 765px) {
  .gallery__item {
    max-width: 300px;
  }
}
@media screen and (max-width: 660px) {
  .gallery__item {
    max-width: 225px;
  }
}
@media screen and (max-width: 520px) {
  .gallery__item {
    max-width: 150px;
  }
}
.projects {
  padding: 100px 0 50px;
}
.projects__paragraph {
  margin: 30px 0 60px;
  color: #474747;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 80px 0 40px;
  }
  .projects__paragraph {
    margin: 30px 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    padding: 70px 24px 35px 52px;
  }
  .projects__paragraph {
    margin: 20px 0 58px;
  }
}
@media screen and (max-width: 650px) {
  .projects {
    padding: 70px 24px 35px 35px;
  }
}
.caption {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 50px;
}

@media screen and (max-width: 1024px) {
  .caption {
    font-size: 1.25rem;
    line-height: 44px;
  }
}
@media screen and (max-width: 768px) {
  .caption {
    font-size: 30px;
    line-height: 38px;
  }
}
@media screen and (max-width: 600px) {
  .caption {
    font-size: 1rem;
    line-height: 25px;
  }
}
.projects-content {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .projects-content {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  .projects-content {
    flex-direction: column;
  }
}
.projects-card {
  width: calc((100% - 96px) / 3);
  position: relative;
  max-width: 360px;
}
.projects-card__img {
  max-width: 360px;
}
.projects-card__img img {
  width: 100%;
}
.projects-card__block {
  padding-top: 35px;
}
.projects-card__block-title {
  font-size: 30px;
  line-height: 38px;
}
.projects-card__block-text {
  font-size: 0.9rem;
  line-height: 23px;
  color: #474747;
  font-weight: 300;
  margin: 15px 0;
}
.projects-card__block-year {
  font-size: 0.9rem;
  line-height: 23px;
  font-weight: bold;
}
.projects-card:first-child::before {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 0.7rem;
  top: -29px;
  left: -29px;
  background-color: #B3E151;
  content: "98%";
}
.projects-card:nth-child(2)::before {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 0.7rem;
  top: -29px;
  left: -29px;
  background-color: #349EE5;
  content: "100%";
}
.projects-card:last-child::before {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 0.7rem;
  top: -29px;
  left: -29px;
  background-color: #E5A434;
  content: "100%";
}
.projects-card:not(:last-child) {
  margin-right: 48px;
}

@media screen and (max-width: 1250px) {
  .projects-card {
    max-width: 310px;
  }
  .projects-card__block-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1150px) {
  .projects-card {
    max-width: 275px;
  }
}
@media screen and (max-width: 1024px) {
  .projects-card {
    width: calc((100% - 184px) / 3);
    max-width: 252px;
  }
  .projects-card__block {
    padding-top: 15px;
  }
  .projects-card__block-title {
    font-size: 1.25rem;
    line-height: 31px;
  }
  .projects-card__block-text {
    font-size: 0.75rem;
    line-height: 19px;
    margin: 15px 0 17px;
  }
  .projects-card__block-year {
    font-size: 0.75rem;
    line-height: 19px;
  }
  .projects-card::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 0.6rem;
    top: -23px;
    left: -23px;
  }
  .projects-card:not(:last-child) {
    margin-right: 92px;
  }
}
@media screen and (max-width: 990px) {
  .projects-card {
    width: calc((100% - 50px) / 3);
    max-width: 215px;
  }
  .projects-card__block-text {
    font-size: 0.8rem;
    line-height: 16px;
  }
  .projects-card:not(:last-child) {
    margin-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .projects-card {
    display: flex;
    width: 100%;
    max-width: 720px;
    align-items: center;
  }
  .projects-card__img {
    max-width: 320px;
    margin-right: 24px;
  }
  .projects-card__block {
    max-width: 348px;
    padding: 0;
  }
  .projects-card__block-text {
    font-size: 1rem;
    line-height: 25px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .projects-card__block-year {
    font-size: 1rem;
    line-height: 25px;
  }
  .projects-card::before {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 0.7rem;
    top: -28px;
    left: -28px;
  }
  .projects-card:not(:last-child) {
    margin-right: 0;
  }
  .projects-card:not(:last-child) {
    margin-bottom: 58px;
  }
}
@media screen and (max-width: 735px) {
  .projects-card__img {
    max-width: 270px;
  }
  .projects-card__block {
    max-width: 275px;
  }
  .projects-card__block-title {
    font-size: 1.3rem;
    line-height: 27px;
  }
  .projects-card__block-text {
    font-size: 0.72rem;
    line-height: 15px;
    margin-bottom: 10px 0;
  }
  .projects-card__block-year {
    font-size: 0.72rem;
    line-height: 15px;
  }
}
@media screen and (max-width: 600px) {
  .projects-card__img {
    max-width: 200px;
    margin-right: 15px;
  }
  .projects-card__block {
    max-width: 220px;
  }
  .projects-card__block-title {
    font-size: 1.1rem;
    line-height: 24px;
  }
  .projects-card__block-text {
    font-size: 0.64rem;
    line-height: 14px;
    margin: 7px 0;
  }
  .projects-card__block-year {
    font-size: 0.64rem;
    line-height: 14px;
  }
  .projects-card:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .projects-card__img {
    max-width: 140px;
    margin-right: 10px;
  }
  .projects-card__block {
    max-width: 160px;
  }
  .projects-card__block-title {
    font-size: 0.9rem;
    line-height: 20px;
  }
  .projects-card__block-text {
    font-size: 0.48rem;
    line-height: 12px;
    margin: 3px 0;
  }
  .projects-card__block-year {
    font-size: 0.48rem;
    line-height: 12px;
  }
}
.about-me {
  background-color: #F3F7EA;
  padding: 100px 0px;
}
.about-me--dark {
  color: black;
}
.about-me__img {
  margin: 0 auto 30px;
  max-width: 398px;
}
.about-me__img img {
  width: 100%;
}
.about-me__paragraph {
  margin: 30px 0;
  color: #474747;
}
.about-me__text {
  max-width: 939px;
}

@media screen and (max-width: 1024px) {
  .about-me {
    padding: 80px 0px;
  }
  .about-me__img {
    max-width: 282px;
  }
  .about-me__text {
    max-width: 691px;
  }
}
@media screen and (max-width: 768px) {
  .about-me {
    padding: 70px 0px;
  }
  .about-me__img {
    margin: 0 auto 20px;
    max-width: 251px;
  }
  .about-me__paragraph {
    margin: 20px 0;
  }
  .about-me__text {
    max-width: 626px;
  }
}
@media screen and (max-width: 600px) {
  .about-me {
    padding: 70px 10px;
  }
}
.footer {
  background-color: #262626;
  color: #fff;
  padding: 100px 0;
}
.footer__paragraph {
  color: #B1B1B1;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 80px 0 78px;
  }
  .footer__paragraph {
    font-size: 1rem;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 70px 0 65px;
  }
  .footer__paragraph {
    font-size: 0.9rem;
    line-height: 23px;
  }
}
.footer-title {
  font-size: 2.25rem;
  line-height: 81px;
}

@media screen and (max-width: 1024px) {
  .footer-title {
    font-size: 2rem;
    line-height: 63px;
  }
}
@media screen and (max-width: 768px) {
  .footer-title {
    font-size: 1.8rem;
    line-height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .footer-title {
    font-size: 1.6rem;
    line-height: 40px;
  }
}
.contacts {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
}
.contacts__item {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 50px;
  transition: all 0.2s;
}
.contacts__item:hover {
  transform: scale(1.2);
  color: #FFAC1C;
}

@media screen and (max-width: 1024px) {
  .contacts {
    margin: 50px 0;
  }
  .contacts__item {
    font-size: 1.25rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    margin: 40px 0;
  }
  .contacts__item {
    font-size: 1.1rem;
    line-height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .contacts {
    margin: 25px 0;
  }
  .contacts__item {
    font-size: 0.9rem;
    line-height: 25px;
  }
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.social-links__item {
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #262626;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.2s;
}
.social-links__item:last-child {
  color: #000;
}
.social-links__item:hover {
  transform: scale(1.3);
}
.social-links__item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .social-links {
    margin-top: 47px;
  }
  .social-links__item {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  .social-links__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media screen and (max-width: 768px) {
  .social-links {
    margin-top: 35px;
  }
  .social-links__item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .social-links__item:not(:last-child) {
    margin-right: 40px;
  }
}
.arrow-up {
  font-size: 1.25rem;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  background-color: #FFAC1C;
  border: 1px solid #FFAC1C;
  border-radius: 50%;
  position: fixed;
  right: 19px;
  bottom: 20px;
  transition: all 0.2s;
}
.arrow-up:hover {
  color: gray;
}

@media screen and (max-width: 1024px) {
  .arrow-up {
    bottom: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 700px) {
  .arrow-up {
    font-size: 0.65rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: 5px;
    bottom: 5px;
  }
}/*# sourceMappingURL=style.css.map */